<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="GBK" pattern="%-d{yyyy-MM-dd HH:mm:ss} [%c]-[%p] %m%n"/>
        </Console>
        <!-- fileName  指定当前日志文件的位置和文件名称
        	 filePattern  指定当发生Rolling时，文件的转移和重命名规则 
        	 SizeBasedTriggeringPolicy  指定当文件体积大于size指定的值时，触发Rolling
       	-->
        <RollingFile name="RollingFile" fileName="/Users/terry/logs/familyTree.log"
                     filePattern="/Users/terry/logs/$${date:yyyyMMdd}/famalyTree.log.%d{yyyyMMddHHmmss}">
            <PatternLayout charset="GBK" pattern="%-d{yyyy-MM-dd HH:mm:ss} [%c]-[%p] %m%n"/>
            <SizeBasedTriggeringPolicy size="1 MB"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>