@charset "UTF-8";
/* CSS Document */
.header {
	right:0;
	left:0;
	top:0;
	height: 50px;
	width: 100%;
	font-family: Arial, 微軟正黑體;
	background: #2E81C3;
}
.header_left{
	float:left;
	width:18%;
}
.leftMenu{
	padding-left: 20px;
    padding-top: 14px;
	width:200px;
	float:left;
}
.leftMenu_btn{
	width:35px;
	float:left;
}
.leftMenu_btn li{
	width: 30px;
    height: 5px;
	background:#FFFFFF;
	margin-bottom:3px;
	border-radius:2px;
}
.leftMenu_name{
	float:left;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}
.header_title {
	width:100px;
	margin:auto;
	line-height: 50px;
	font-weight: bold;
	font-size: 23px;
	text-align: center;
	color: rgb(255,255,255);
}

.search {
	height:70px;
}
.search_1{
	margin:auto;
	padding:19px 0px;
	width:360px;
}
.search_input{
	margin:auto;
	width:200px;
}

.searchResult_1{
	width:1015px;
	border:1px solid #E1E6F1;
	margin:auto;
}
.searchResult_ul li{
	float:left;
	margin:20px 0px 0px 20px;
	width:310px;
	height:180px;
	background: #F6FAE9;
	border:1px solid #EDF1E1;;
}
.searchResult_ul li a{
	float:left;
	margin:15px 0px 15px 10px;
	width:130px;
	height:150px;
	border:1px solid #ddd;
}
.searchResult_ul li img{
	width:130px;
	height:150px;
}
.searchResult_ul li div{
	float:left;
	margin:23px 0px 15px 10px;
	width:143px;
	height:150px;
}
.searchResult_ul li div p{
	margin-bottom: 0px;
	display:block;
	color: #333333;
	font-size:13px;
	font-family: Arial;
	line-height: 22px;
	height:22px;
}
.selectPage{
	margin:10px auto 10px auto;
	width:200px;
	font-size:14px;
}