.combo-focus-hui { box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); border-color: #51A7E8; }
.combo-focus-hui input { border-color: #51A7E8; }
.option-item-hui { cursor: pointer; border-bottom: 1px #e3e3e3 solid; }
.option-item-hui:hover { background-color: #006eab; color: #fff; }
.option-item-hui:last-child { border-bottom: none; }
.option-selected-hui { background-color: #eee; }
.option-hover-hui { background-color: #006eab; color: #fff; }
.option-disabled-hui { opacity: 0.5; }
.combo-select-hui select { position: absolute; z-index: -1; width: 100%; height: 100%; -webkit-appearance: none; opacity: 0; }
.combo-select-hui { position: relative; max-width: 400px; font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,"WenQuanYi Micro Hei",Verdana,sans-serif,"\5B8B\4F53";font-size:14px; border: 1px #ccc solid; border-radius: 3px; }
.combo-select-hui .combo-input-hui { margin-bottom: 0; }
.combo-open-hui .combo-arrow-hui { border-color: #51A7E8; }
.combo-open-hui .combo-arrow-hui:before { border-top: none; border-bottom: 5px solid #cccccc; }
.combo-open-hui .combo-dropdown-hui { display: block; }
.combo-open-hui .combo-arrow-hui { border-color: #51A7E8; }
.combo-open-hui .combo-arrow-hui:before { border-top: none; border-bottom: 5px solid #cccccc; }
.combo-dropdown-hui { position: absolute; z-index: 1; top: 100%; left: 0; min-width: 100%; max-width: 300px; max-height: 300px; margin: 0; padding: 0; display: none; overflow-y: auto; background: #fff; border: 1px solid #999999; border-radius: 0; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); box-sizing: border-box; }
.combo-dropdown-hui li { list-style: none; padding: 8px 1em; margin: 0; }
.combo-input-hui { -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; text-overflow: ellipsis; white-space: nowrap; border: none; width: 100%; box-sizing: border-box; padding: 4px; padding-right: 60px; border-radius: 3px; font-size: 14px; }
.combo-input-hui:focus { outline: none; }
.combo-arrow-hui { position: absolute; right: 0; top: 0; height: 100%; cursor: pointer; text-align: center; font-size: 14px; width: 40px; color: #999999; }
.combo-arrow-hui:before { content: " "; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #cccccc; display: block; width: 0; height: 0; top: 0; right: 15px; bottom: 0; position: absolute; margin: auto 0; } 
.option-group-hui { cursor: text; font-weight: 600; background: #e1e1e1; border: 1px #ccc solid; border-width: 1px 0; }
